<div id="sidebar" style="">
		<a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<!-- <div id="logo"> <a href="/"><img src="img/logo.svg" alt="logo" /></a> </div> -->
		<nav id="nav" class="navigation" role="navigation">
			<ul class="unstyled" style="">
				<li class="active" data-section="1"><a href="#"><i class="icon-tags icon-3x"></i><br>Tees</a></li>
				<li data-section="2" class=""><a href="#" onclick=""><i class="icon-font icon-3x"></i> <br>Text</a></li>
				<li data-section="3" class=""><a href="#"><i class="icon-picture icon-3x"></i> <br>Picture</a></li>
				<li data-section="4" class=""><a href="#"><i class="icon-qrcode icon-4x"></i> <br>QR Code</a></li>
				<li data-section="5" class=""><a href="#"><i class="icon-money icon-3x"></i> <br>Pricing</a></li>
				<li data-section="6" class=""><a href="#"><i class="icon-list-alt icon-3x"></i> <br>Details</a></li>
				<li data-section="7" class=""><a href="#"><i class="icon-camera-retro icon-3x"></i> <br>Preview</a></li>
			</ul>
		</nav><!-- /nav -->
	</div>